.DS_Store
/Manifest.toml
/dev/
/docs/site
/docs/weavecache
/docs/auto
/docs/build/*md
/docs/build/*ipynb
/docs/build/*/*
/docs/build/.gitignore
/docs/build/*bib
/docs/build/*js
*html
*~
LocalPreferences.toml
*.el
\#*\#
/test/Manifest.toml